* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("img/top.jpg");
  background-position: center top;
  background-size: cover;
}

h1 {
  position: absolute;
  top: 5%;
  left: 0;
  padding: 5px 10%;
  background-color: rgb(25, 25, 100, 0.9);
  color: #fff;
  font-size: 40px;
  letter-spacing: 5px;
  box-shadow: 10px 10px 10px #555;
}

.header__menu {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  width: 50%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.header__menu--top {
  margin: 20% 0;
}

.header__menu--top a {
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 10px #555;
  transition: .4s;
}

.header__menu--top a:hover {
  color: #05a;
  font-size: 45px;
  text-shadow: 0px 0px 10px #fff;
  transition: .4s;
}

.header__menu--bottom {
  margin: 10% 0;
}

.header__menu--bottom a {
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 10px #555;
  transition: .4s;
}

.header__menu--bottom a:hover {
  color: #05a;
  font-size: 45px;
  text-shadow: 0px 0px 10px #fff;
  transition: .4s;
}

main {
  padding: 10% 0;
  background-image: url("img/bg.jpg");
  background-size: cover;
}

.download {
  margin: 10% 0;
}

.download__heading h2 {
  padding: 20px 5%;
  border-bottom: 1px solid #555;
  font-size: 40px;
}

.download__heading p {
  margin: 50px 5%;
  font-size: 20px;
  line-height: 32px;
}

.download__excel {
  position: relative;
  height: 500px;
  margin: 10% 0;
}

.download__excel--contents {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgb(0, 70, 29, 0.1);
}

.inner__excel--text {
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
}

.inner__excel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  height: 70%;
}

.inner__excel--btn {
  text-decoration: none;
  width: 50%;
  min-width: 550px;
  padding: 25px 0;
  border: 1px solid #555;
  background-color: #fff;
  color: #050;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  transition: .4s;
}

.inner__excel--btn:hover {
  background-color: #050;
  color: #fff;
  font-size: 28px;
  transition: .4s;
}

.download__excel--icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 40%;
  text-align: center;
}

.download__excel--icon img {
  width: 40%;
  min-width: 250px;
}

.detail__sheet {
  text-decoration: none;
  width: 66%;
  margin-right: auto;
  padding-left: 5%;
  border-bottom: 1px solid #555;
  color: #333;
  font-size: 24px;
  font-weight: normal !important;
  letter-spacing: 3px;
  transition: .4;
}

.detail__sheet:hover {
  transition: .4;
  color: rgb(25, 25, 112);
  cursor: pointer;
}

.download__pdf {
  position: relative;
  height: 550px;
  margin: 10% 0;
}

.download__pdf--contents {
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(70, 0, 0, 0.1);
}

.download__pdf--contents p {
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
}

.inner__pdf {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  min-width: 700px;
  height: 60%;
}

.inner__pdf--btn {
  text-decoration: none;
  width: 50%;
  min-width: 550px;
  padding: 25px 0;
  border: 1px solid #555;
  background-color: #fff;
  color: #500;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  transition: .4s;
}

.inner__pdf--btn:hover {
  background-color: #500;
  color: #fff;
  font-size: 28px;
  transition: .4s;
}

.download__pdf--icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40%;
  text-align: center;
}

.download__pdf--icon img {
  width: 70%;
  min-width: 400px;
}

.detail__pdf {
  text-decoration: none;
  width: 70%;
  margin-left: auto;
  padding-right: 10%;
  border-bottom: 1px solid #555;
  color: #333;
  font-size: 24px;
  font-weight: normal !important;
  letter-spacing: 3px;
  text-align: right;
  transition: .4;
}

.detail__pdf:hover {
  transition: .4;
  color: rgb(25, 25, 112);
  cursor: pointer;
}

.detail__pdf--btn:hover {
  color: rgb(25, 25, 112);
}

.sheet__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity .3s linear;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
}

.sheet__menu.is-active {
  pointer-events: auto;
  opacity: 1;
}

.sheet__menu--close {
  transform: translate(-40px, 20px);
  color: #fff;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  transition: .4s;
}

.sheet__menu--close:hover {
  transition: .4s;
}

.sheet__menu--detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  color: #fff;
}

.sheet__menu--flex1 {
  width: 45%;
  padding: 40px;
  padding-top: 0;
}
.sheet__menu--flex2 {
  width: 45%;
}
.sheet__menu--flex2 img {
  width: 80%;
}

.sheet__menu--text {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.sheet__menu--text a {
  margin-top: 40px;
  color: lightgreen;
  font-size: 20px;
  font-weight: bold;
}

span {
  background:linear-gradient(transparent 85%, #ff6 85%);
}

.pdf__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity .3s linear;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
}

.pdf__menu.is-active{
  pointer-events: auto;
  opacity: 1;
}

.pdf__menu--close {
  transform: translate(-40px, 20px);
  color: #fff;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  transition: .4s;
}

.pdf__menu--close:hover {
  transition: .4s;
  color: #ff0;
}

.pdf__menu--detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}

.arrow-pc {
  color: #ff0;
  font-size: 100px;
  font-weight: bold;
}

.arrow-sp {
  display: none;
}

.step {
  width: calc(100%/3);
  text-align: center;
}

.step p {
  margin-bottom: 3%;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.step img {
  width: 65%;
}

.sample {
  padding-bottom: 10%;
}

.sample h2 {
  margin: 10% 0;
  padding: 20px 5%;
  border-bottom: 1px solid #555;
  font-size: 40px;
}

.sample__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.sample__container--left {
  width: 50%;
}

.sample__container--left img {
  width: 70%;
  box-shadow: 1px 5px 25px #555;
  opacity: .9;
}

.sample__container--left img:hover {
  transform: translateY(-10px);
  transition: .5s;
  opacity: 1;
}

.sample__container--right {
  width: 50%;
}

.sample__container--right a {
  font-size: 32px;
}

.sample__container--right p {
  margin-top: 20px;
  font-size: 20px;
}

.form {
  text-align: center;
}

.form__heading h2 {
  margin-top: 10%;
  padding: 20px 0;
  border-bottom: 1px solid #555;
  font-size: 40px;
}

.form__heading p {
  margin: 50px 0 5%;
  font-size: 20px;
  line-height: 32px;
}

.inner__form a {
  text-decoration: none;
  padding: 20px 80px;
  border-radius: 20px;
  background-color: rgb(25, 25, 112);
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  transition: .4s;
}

.inner__form a:hover {
  padding: 25px 100px;
  border: 1px solid rgb(25, 25, 112);
  background-color: #fff;
  color: rgb(25, 25, 112);
  font-size: 35px;
  transition: .4s;
}

.sp-br {
  display: none;
}

@media (max-width: 520px) {

  .pc-br {
    display: none;
  }

  .sp-br {
    display: block;
  }

  header {
    background-image: url("img/top-sp.jpg");
    background-position: center center;
  }

  h1 {
    top: 3%;
    width: 100%;
    padding: 10px 0;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: 5px 5px 10px #555;
  }

  .header__menu {
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    font-size: 25px;
  }

  .header__menu--top a {
    border-bottom: 5px solid rgba(255, 255, 255, 0.8);
  }

  .header__menu--top a:hover {
    color: #fff;
    font-size: 28px;
    text-shadow: 1px 1px 10px #555;
  }

  .header__menu--bottom a {
    border-bottom: 5px solid rgba(255, 255, 255, 0.8);
  }

  .header__menu--bottom a:hover {
    color: #fff;
    font-size: 28px;
    text-shadow: 1px 1px 10px #555;
  }

  main {
    padding: 20% 0;
  }

  .download__heading h2 {
    padding: 10px 5%;
    font-size: 25px;
  }

  .download__heading p {
    margin: 25px 5%;
    font-size: 18px;
    line-height: 28px;
  }

  .download__excel {
    position: relative;
    height: 450px;
    margin: 100px 0 150px;
  }

  .download__excel--contents {
    display: flex;
    width: 100%;
  }

  .inner__excel--text {
    padding: 0 5%;
    padding-top: 0;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  .inner__excel {
    width: 100%;
    height: 60%;
    padding-top: 10%;
  }

  .inner__excel--btn {
    width: 75%;
    min-width: auto;
    margin: 0 auto;
    padding: 20px 25px;
    font-size: 20px;
  }

  .inner__excel--btn:hover {
    background-color: #fff;
    color: #050;
    font-size: 20px;
  }

  .download__excel--icon {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
    width: 50%;
  }

  .download__excel--icon img {
    width: 70%;
    min-width: auto;
  }

  .detail__sheet {
    text-decoration: none;
    width: 90%;
    border-bottom: 1px solid #555;
    color: #333;
    font-size: 18px;
    font-weight: normal !important;
    letter-spacing: 1px;
    transition: .4;
  }

  .sheet__menu {
    height: 100%;
    overflow: auto;
  }

  .sheet__menu--close {
    transform: translate(-25px, 10px);
  }
  .sheet__menu--detail {
    flex-direction: column;
    margin: 0;
  }

  .sheet__menu--flex1 {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
  .sheet__menu--flex2 {
    width: 100%;
    margin: 10% 0;
  }
  .sheet__menu--flex2 img {
    width: 100%;
  }

  .sheet__menu--text {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .sheet__menu--text a {
    margin-top: 40px;
    color: lightgreen;
    font-size: 20px;
    font-weight: bold;
  }

  .download__pdf {
    height: 450px;
    margin: 100px 0;
  }

  .download__pdf--contents {
    width: 100%;
  }

  .download__pdf--contents p {
    padding: 0;
    padding-top: 0;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  .inner__pdf {
    width: 100%;
    min-width: auto;
    height: 60%;
  }

  .inner__pdf--btn {
    text-decoration: none;
    width: 75%;
    min-width: auto;
    margin: 0 auto;
    padding: 20px 25px;
    font-size: 20px;
  }

  .inner__pdf--btn:hover {
    background-color: #fff;
    color: #500;
    font-size: 20px;
  }

  .download__pdf--icon {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
  }

  .download__pdf--icon img {
    width: 100%;
    min-width: auto;
  }

  .detail__pdf {
    width: 90%;
    margin-top: 20px;
    padding: 10px 10%;
  }

  .detail__pdf--btn {
    font-size: 18px;
  }

  .pdf__menu {
    height: 100%;
    overflow: auto;
  }

  .pdf__menu--close {
    transform: translate(-25px, 10px);
  }
  .pdf__menu--detail {
    flex-direction: column;
    margin: 10% 0;
  }

  .step {
    width: 100%;
  }

  .step p {
    color: #fff;
  }
  
  .step img {
    width: 80%;
  }

  .arrow-pc {
    display: none;
  }

  .arrow-sp {
    display: block;
    margin: 40px 0;
    color: #ff0;
    font-size: 50px;
    font-weight: bold;
  }

  .sample {
    padding-bottom: 100px;
  }

  .sample h2 {
    padding: 10px 5%;
    font-size: 25px;
  }

  .sample__container {
    display: block;
  }

  .sample__container--left {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
  }

  .sample__container--left img {
    box-shadow: 1px 5px 20px #555;
  }

  .sample__container--right {
    width: 100%;
  }

  .sample__container--right a {
    font-size: 24px;
  }

  .sample__container--right p {
    margin-top: 10px;
    font-size: 18px;
  }

  .form__heading h2 {
    padding: 10px 0;
    border-bottom: 1px solid #555;
    font-size: 25px;
  }

  .form__heading p {
    margin: 25px 5% 20%;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
  }

  .inner__form a {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 25px;
  }

  .inner__form a:hover {
    padding: 20px 40px;
    background-color: rgb(25, 25, 112);
    color: #fff;
    font-size: 25px;
  }
}

.effect-fade {
  opacity: 0;
  transform: translate(0, 100px);
  /* フェードインで動く高さを指定 */
  transition: all 2000ms;
  /* フェードインにかかる時間を指定 */
}

.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}