* {
    margin: 0;
    margin-right:0px;
    margin-left:0px;
    padding: 0;
}

body {
    font-family: serif;
    
}

h1 {
    margin: 3% 0 5%;
    background-color: midnightblue;
    color: white;
    text-align: center;
}

.box {
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5%;
    padding-top: 0;
    border-radius: 40%;
    text-align: center;
}

.btn {
    margin: 5% 0 10%;
}

.link1 {
    padding: 20px 30px;
    border-radius: 10px;
    color: black;
    background-color: lightgreen;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.link1:hover {
    background-color: darkgreen;
    color: white;
    transition: .4s;
}

.link2 {
    padding: 20px 30px;
    border-radius: 10px;
    color: black;
    background-color: lightpink;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.link2:hover {
    background-color: brown;
    color: white;
    transition: .4s;
}

.box2 {
    margin-bottom: 30px;
    text-align: center;
}

.box2 a {
    font-size: 30px;
    background-color: #fff462;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 10%;
    border-radius: 40px;
    font-family: serif;
}
button {
    font-size: 30px;
    background-color: #fff462;
    color: #333;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 10%;
    border-radius: 40px;
    margin-top: 1%;
}
@media screen and (max-width:999px) {
    h1 {
        margin: 5% 0 10%;
    }
    
    .box,.box2 {
        width: 100%;
        padding: 0;
    }
    .btn {
        margin-bottom: 50px;
    }
    p {
        margin: 10px 20px 40px;
        text-align: left;
    }
    
    .aa{
        margin: 10px 20px;
        padding-top: 40px;
        font-size: 18px;
    }

    .box2 a {
        padding: 0;
    }
}